.model {
  height: 2rem;
  width: 10rem;
  background-color: silver;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  color: white;
  font-weight: bold;
  display: none;
}
