.aside {
  height: 90%;
  width: 08rem;
  position: fixed;
  background-color: rgb(32, 32, 32);
  padding-top: 1rem;
  padding-bottom: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: 2px 2px 2px rgb(235, 223, 223);
  font-size: 1rem;
  margin: 0 0 5rem 0;
  color: white;
}

.mi {
  font-size: 2rem;
  cursor: pointer;
  color: rgb(243, 240, 240);
  font-weight: 500;
}
aside .watchlater,
.history,
.likes,
.playlists,
.explore,
.home {
  text-align: center;
  padding: 1.4rem;
  font-size: 1.2rem;
  font-weight: 550;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.video-flex {
  display: flex;
  flex-wrap: wrap;
}
