.video-card {
  height: 19rem;
  width: 20rem;
  border: 3px solid black;
  margin-left: 10rem;
  background-color: rgb(214, 235, 235);
  cursor: pointer;
}

.video-card-image img {
  height: 12rem;
  width: 100%;
}

.video-card-logo img {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}

.video-card-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
.vcardmi {
  font-size: 2rem;
}
.video-card-logo {
  display: flex;
  flex-direction: column;
}
.videocard-style {
  display: grid;
  grid-template-columns: repeat(4, 350px);
  gap: 1.5rem;
  overflow: auto;
  margin-bottom: 8rem;
  position: sticky;
}
.box2 {
  display: none;
}

.box1:hover + .box2 {
  display: block;
  color: red;
}
