.watch-later-videos {
  padding: 1rem;
  width: 100%;
  margin-bottom: 8rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.watch-later {
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
}
.watch-later-iframe {
  margin: 0rem 0rem 1rem 0;
  overflow: auto;
  margin: 0.3rem;
}
.data {
  background-color: orange;
}
.xi {
  font-size: 2rem;
  cursor: pointer;
}
.xi:hover {
  background-color: red;
  color: white;
}
